:root {
    box-sizing:border-box;
}

*,
:before,
:after {
    box-sizing: inherit;
}

nav {
    background-color: rgba(123, 231, 112, 0.7);
    position:sticky;
    top: 0;
}
nav > ul > li {
    list-style: none;
}

nav > ul {
    display:flex;
    gap: 0.5em;
}

.nav-link{
    text-decoration: none;
}

@media (min-width:1280px) {
    nav > ul {
        flex-direction: column;
    }
    body {
        display:grid;
        grid-template-columns: 1fr 5fr;
    }
    #navbar {
        grid-column: 1/2;
    }
    #main-doc {
        grid-column: 2/3;
    }
}

